html {
    font-size: 12px;
}

body {
    font-family:  'Open Sans', sans-serif;
    color: #fff;
    background: #34495e;
    
}

.page-wrapper {
    width: 800px; 
    margin: 40px auto 20px;
/*    background: #ecf0f1;*/
    min-height: 90vh;
}

.person-info {
    line-height: 30px;
    margin: 30px 20px 10px;
    
}

.person-info__surname {
    font-size: 2.5rem;
    font-weight: 700;
}

.person-info__name {
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    
}

.contacts {
    margin-top: -5px; 
}

.social-buttons {
    display: inline-block;
    margin: 0;
    width: 100px;
    position: relative;
}

.social-buttons::after {
    content: "";
    width: 2px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 10px;
}

.social-buttons--inline {
    display: inline-block;
    margin-right: 30px;
}

.social-buttons__button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    background: #ccc url(http://via.placeholder.com/20x20) 50% 50%/cover;
}

.social-buttons__button--inline {
    display: inline-block;
    margin-right: 5px;
}


.mail {
    display: inline-block;
    vertical-align: super;
}

.mail__link {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1.1em;
    font-style: italic;
}

.person-info__person-photo {
    width: 200px;
    height: 250px;
    background: #ccc url(http://via.placeholder.com/200x250) 50% 50% /cover;
    
}
.person-info__person-photo--right {
    float: right;
    margin-right: 10%;
    margin-top: -30px;
}

.menu-container {
/*    background-color: aliceblue;*/
    width: calc(90% - 200px);
    padding: 10px 15px;
    
}

.menu_container__button {
    margin: 3px 0;
    margin-right: 1%;
    min-width: 150px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border:none;
    background-color: #587DA7;
    transition: 900ms background-color;
    
    
}

.menu_container__button:hover {
    background-color: #FFA549;
    transition: 300ms background-color;
}

.menu_container__button:focus {
    outline: none;
    background-color: #FFA549;
    transform: rotate(-1deg);
}

menu {
    margin: 0 0;
    padding: 0 0;
}

header::after {
    content: "";
    clear: both;
}

.content-wrapper {
    min-height: 120px;
    padding: 10px 15px;
    margin-top: 50px;
    max-height: calc(100vh - 330px);
    overflow: overlay;
}

.content-box__article-title {
    width: 180px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #fff;
}

.article-title--style {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: normal;
}

.content-box__article-text {
    display: inline-block;
    width: calc(100% - 210px);
    vertical-align: top;
    padding: 0 10px;
}

.article-text--style {
    margin: 0;
    text-align: justify;
}

.content-box--hidden {
    display: none;
}



.content-box {
    margin: 10px 0;
    
}
